<div class="background">

  <div class="container profile-container">
      <h2 class="page-h2">Mon Profil</h2>

    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="card" style="height: 28rem;">
            <div class="card-body">
              <div class="card-top">
              <%= image_tag "anonym.jpg", class: "avatar-large", alt: "avatar-large" %>


                <div class="avatar-bubble"></div>
                <h2><small> <%= current_user.name %></small></h2>
                    <%= '<i class="fas fa-star"></i>'.html_safe * current_user.average_ratings %>
                    <%# <%= '<i class="far fa-star"></i>'.html_safe * 5-= average_ratings %>
                    <%# <%= 5-= average_ratings * '<i class="far fa-star"></i>'.html_safe  %>

              </div>
                <div class="card-top-details">
                 <span class ="user_type"><%= current_user.user_type %></span>
                 <span class="status-verifed"><%= current_user.status_verified %><span>
                </div>
                <p>COURTE DESCRIPTION</p>
                <div class="description">
                  <%= current_user.description %>
                </div>
                <p>DERNIER AVIS</p>

                <div class="description">
                  <%= @last_review.content %>
                  <div class="description-right">
                    <%= image_tag "anonyme2.jpg", class: "avatar-small", alt: "avatar-small" %>
                    <%= @reviewer.name %>
                  </div>
                </div>
                <%= link_to 'Reviews', profile_reviews_path(current_user), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="card mt-4 mt-lg-0" id="yam-pre" style="height: 18rem;">
            <%= render 'shared/subscribe-premium' %>
          </div>
          <div class="card mt-4 justify-content-center d-none d-md-block" style="height: 8rem;">
            <div class="card-body d-flex h-100 align-items-center justify-content-center">
              <h1><i class="fas fa-cloud-download-alt"></i></h1>
              <p class="m-0">Créer mon dossier étudiant</p>
            </div>
          </div>
        </div>
      </div>
    </div>
      <h2 class="page-h2">Mes préférences de recherche</h2>
  </div>
</div>


