<div class="background">

  <div class="container profile-container fixed-footer">
      <h2 class="page-h2">Mon Profil</h2>

    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="card" style="height: 28rem;">
            <div class="card-body">

              <div class="card-top">

                <div class="avatar-bubble"></div>
                  <%= image_tag "anonym.jpg", class: "avatar-large", alt: "avatar-large" %> 
                  <div class="header-card">
                    <h2><small> <%= current_user.name %></small></h2>
                    <div class="card-top-details">
                    <span class ="user_type"><%= current_user.user_type %></span>
                    <span class="status-verifed"><%= current_user.status_verified %><span>
                    </div>
                  </div>

                  <%= '<i class="fas fa-star"></i>'.html_safe * current_user.average_ratings %>
                  <%= '<i class="far fa-star"></i>'.html_safe * ( 5- current_user.average_ratings) %>
                </div> 

                <div ><p class="title-profile">COURTE DESCRIPTION</p></div>
                <div class="description">
                  <%= current_user.description %>
                </div>
                <div ><p class="title-profile">DERNIER AVIS</p></div>
                <div class="description">
                  <%= @last_review.content %>
                    <div class="description-right">
                      <%= image_tag "anonyme2.jpg", class: "avatar-small", alt: "avatar-small" %>
                      <%= @reviewer.name %>
                    </div>
                     
                </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="card mt-4 mt-lg-0" id="yam-pre" style="height: 18rem;">
            <%= render 'shared/subscribe-premium' %>
          </div>
          <div class="card mt-4 justify-content-center d-none d-md-block" style="height: 8rem;">
            <div class="card-body d-flex h-100 align-items-center justify-content-center">
              <h1><i class="fas fa-cloud-download-alt"></i></h1>
              <p class="m-0">Créer mon dossier étudiant</p>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="card card-form">
      <h2 class="page-h2">Mes préférences de recherche</h2>
      <%= simple_form_for @preference, url: root_path do |f| %>

      <%= f.input :school_location, placeholder: "Indiquez l'adresse ici", label: "Où se trouve votre établissement scolaire ?" %>
      <div class="pref-2">
        <%= f.input :flat_type,  placeholder: "T1 ou T2 ou T3 ...", label: "Nombre de pièces" %>
        <%= f.input :surface_area, placeholder: "Par exemple : 30", label: "Surface en m² ?" %>
        <%= f.input :surrounding_area, placeholder: "Par exemple : 10", label: "ALentours en Km" %>
      </div>
       
      <%= f.input :moving_at, label: "À la date du :"  %>
      <%= f.input :price_per_month, as: :range, label: "Prix par mois" %>
      <%= f.input :roomates, as: :radio_buttons, label: "En collocation ?" %>
      

      <%= f.button :submit, class: "btn-primary" %>
    <% end %>

    </div>
  </div>

</div>


