<div class="background">
  <div class="container profile-container fixed-footer">
      <h2 class="page-h2">Profil de <%=  @user.first_name %></h2>
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="card" style="height: 28rem; height:auto;">
            <div class="card-body">
              <div class="card-top">
                <div class="avatar-bubble mr-3">
                  <%= image_tag "anonym.jpg", class: "avatar-large", alt: "avatar-large" %>
                </div>
                <div class="header-card">
                  <h2 class="card-profil-name"><small> <%= @user.first_name %></small></h2>
                  <div class="card-top-details">
                    <span class ="user_type"><%= @reviewer.user_type %></span>
                    <% if @reviewer.status_verified  %>
                      <span class="status-verified">PROFIL VÉRIFIÉ</span>
                    <% else %>
                      <span class="status-not-verified">PROFIL NON VÉRIFIÉ</span>
                    <% end %>
                  </div>
                </div>
              </div>
                <div >
                  <p class="title-profile">COURTE DESCRIPTION</p>
                </div>

                <div class="description">
                  <%= @reviewer.description %>
                </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="card mt-4 mt-lg-0 p-3" id="yam-pre" style="height: 28rem; height: auto;">
            <h5 class="m-3 text-center">Avis à propos de <strong><%= @user.name %></strong></h5>
            <% @reviews.each do |review| %>
              <div class="display-flex">
                <%= review.reviewer.first_name %>
                <%= review.reviewer.name %>
                <%= '<i class="fas fa-star"></i>'.html_safe * review.rating %>
                <%= '<i class="far fa-star"></i>'.html_safe * ( 5- review.rating) %>
              </div>
              <%= review.content %>
              <hr>
            <% end %>
            <%= render "reviews/button" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




