<div class="background" style="height: 100%;">
  <div class="container">
    <h2 class="page-h2">L'appartement</h2>
      <div class="main-card mb-5">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-6 mt-3">
                <%= render 'shared/carousel' %>
            </div>
            <div class="col-12 col-lg-6">
                <%= render 'shared/owner-profile-card' %>
                <%= render 'shared/subscribe-premium' %>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="card-content">
           <h2> <%= @flat.flat_type %> | <%= @flat.surface_area %> M2 | <%= @flat.city %></h2>
           <p><%=  @flat.description%></p>
              <tr>
                <td>
                  <% if policy(@flat).edit?  %>
                    <%= link_to "Edit", edit_flat_path(@flat), class: 'btn btn-primary' %>
                  <% end %>
                </td>
                <td>
                  <% if policy(@flat).destroy? %>
                    <%= link_to 'Destroy', flat_path(@flat), method: :delete, data: { confirm: 'are you sure ?'}, class: 'btn btn-primary' %>
                  <% end %>
                     <td><%= link_to 'Message', flat_chatrooms_path(@flat), method: :post, class: 'btn btn-primary' %></td>
                 </td>
              </tr>
          </div>
      </div>
    </div>
  </div>
</div>

<tbody>
  <% @flat.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
</tbody>





