<h1>Flat show</h1>

<tbody>
  <% @flat.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
   <% end %>
    <tr>
      <td><%= @flat.city %></td>
      <td><%= @flat.address %></td>
      <td>
        <%  if policy(@flat).edit?  %>
          <%= link_to "Edit", edit_flat_path(@flat) %>
        <% end %>
      </td>
      <td>
        <% if policy(@flat).destroy? %>
          <%= link_to 'Destroy', flat_path(@flat), method: :delete, data: { confirm: 'are you sure ?'} %>
         <% end %>
       </td>
    </tr>
</tbody>
