<div class="background">
  <div class="container">
      <h2 class="page-h2">Bonjour <%= current_user.name %>,</h2>

    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="card" style="height: 29rem;">
            <div class="card-body">
              <p><small> <%= current_user.name %></small></p>
              <p><small> <%= current_user.email %></small></p>
              <p> <small><%= current_user.user_type %></small></p>
              <p><small> <%= current_user.phone_number %></small></p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="mt-4 mt-lg-0" id="yam-pre" style="height: 18rem;">
            <%= render 'shared/premium-proposal' %>
          </div>
          <div class="card mt-4 justify-content-center d-none d-md-block" style="height: 8rem;">
            <%= render 'shared/create_student_file_card' %>
          </div>
        </div>
      </div>
        <div>
          <h2 class="page-h2">Votre séléction d'appartements à <%= current_user.preference.city%></h2>
        </div>
        <div class="card mb-4" style="height: 4rem;">
           <%= render 'shared/preferences_card' %>
        </div>
    </div>
  </div>



  <div class="container-fluid w-75">
    <%= render 'shared/display_flats' %>
  </div>

</div>


