<div class="background" style="height: 100%;">
  <div class="container">
      <h1 class="pt-4 pb-4">Bonjour <%= current_user.name %>,</h1>

    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="card" style="height: 28rem;">
            <div class="card-body">
              <p><small> <%= current_user.name %></small></p>
              <p><small> <%= current_user.email %></small></p>
              <p> <small><%= current_user.user_type %></small></p>
              <p><small><%= current_user.phone_number %></small></p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="card mt-4 mt-lg-0" id="yam-pre" style="height: 18rem;">
            <div id="premium">
            </div>
            <div class="card-body">
              <h5 class="card-title">PASSER PREMIUM</h5>
              <p class="card-text">Des visites à la remise des clés, avec Yam premium nous vous proposons une solution simple et complète où nous gérons votre recherche.  Et c’est satisfait ou remboursé.</p>
                <div class="d-flex m-4 ">
                  <a href="#" class="btn btn-primary mr-4" >C'est parti</a>
                  <a href="#" class="btn btn-primary" >En savoir plus</a>
                </div>
            </div>
          </div>
          <div class="card mt-4 justify-content-center d-none d-md-block" style="height: 8rem;">
            <div class="card-body d-flex h-100 align-items-center justify-content-center">
              <h1><i class="fas fa-cloud-download-alt"></i></h1>
              <p class="m-0">Créer mon dossier étudiant</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <h1 class="pt-4 pb-4">Votre séléction d'appartements à <%= current_user%></h1>
      <%= render 'shared/display_flats' %>
    </div>
  </div>
</div>


