<div class="background">
  <div class="container">
    <h2 class="page-h2">Bonjour <%= current_user.name %>,</h2>

    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-7">
          <div class="card" style="height: 29rem;">
            <div class="card-body">
              <div class="dash-card-top">
                <div>
                  <%= image_tag "anonym.jpg", class: "avatar-large", alt: "avatar-large" %>
                </div>

                <div class="card-profil-name m-3">
                  <%= current_user.name %></small></h1>
                  <div class="card-top-details">
                    <span class="user_type"><%= current_user.user_type %></span>
                    <% if current_user.status_verified  %>
                      <span class="status-verified">PROFIL VÉRIFIÉ</span>
                    <% else %>
                      <span class="status-not-verified">PROFIL NON VÉRIFIÉ</span>
                    <% end %>
                  </div>
                </div>
                <div class="stars m-2 mt-4">
                  <%= '<i class="fas fa-star"></i>'.html_safe * current_user.average_ratings %>
                  <%= '<i class="far fa-star"></i>'.html_safe * ( 5- current_user.average_ratings) %>
                </div>
              </div>
              <div class="title-profile">NOTIFICATIONS</div>
              <div class="dash-detail-group d-flex">
                <p class="dash-detail card-text"><i class="fas fa-at card-text mr-2"></i><%= current_user.email %></p>
                <p class="dash-detail card-text"><i class="fas fa-mobile-alt card-text mr-2"></i><%= current_user.phone_number %></p>
              </div>

              <div class="alert-message">
                <div class="last-message"><i class="far fa-envelope"></i></div>
                <p>Votre dernier message date d'il y a 2 heures</p>
                <div style="color:#396CAA;"><i class="ml-5 fas fa-times fa-1x"></i></div>
              </div>

              <div class="alert-message">
                <div class="last-message"><i class="fas fa-eye"></i></div>
                <p>Votre profil a été consulté par 4 propriétaires</p>
                <div style="color:#396CAA;"><i class="ml-5 fas fa-times fa-1x "></i></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-5">
          <div class="mt-4 mt-lg-0" id="yam-pre" style="height: 18rem;">
            <%= render 'shared/premium-proposal' %>
          </div>

          <div class="card mt-4 justify-content-center d-none d-md-block" style="height: 8rem;">
            <%=  link_to subscribe_premium_path, "data-toggle" => "modal", 'data-target' => '#premiumModal' do %>
              <%= render 'shared/create_student_file_card' %>
            <% end %>
          </div>
        </div>
      </div>
        <div>
          <h2 class="page-h2">Votre selection d'appartements à <%= current_user.preference.city%></h2>
        </div>
        <div class="card mb-4" style="height: 4rem;">
           <%= render 'shared/preferences_card' %>
        </div>
        <div class="btn-switch">
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
        </div>
    </div>
  </div>

  <div class="container-fluid w-75">
    <%= render 'shared/display_flats', flats: @flats %>
  </div>
</div>

       


