<!DOCTYPE html>
<html>
  <head>
    <title>Yam - Your Apartment Mate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
  </head>

  <body>

    <% if user_signed_in? %>
      <%= render 'shared/login_navbar' %>
    <% else %>
      <%= render 'shared/logout_navbar' %>
    <% end %>

    <%= render 'shared/flashes' %>

    <%= yield %>

    <footer>
      <%= render 'shared/footer' %>
    </footer>

    <footer>
      <%= render'shared/footer-under' %>
    </footer>
    <%= render 'pages/subscribe_premium' %>
  </body>

</html>
